.product {
    margin: 5px;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 15px;
    width: 170px;
    border-radius: 10px;
    justify-content: space-between;
}

.product-img {
    object-fit: cover;
    width: 100%;
    background: lightgray;
    height: 150px;
    margin: 0 auto;
    background: var(--tg-theme-button-color);
    border-radius: 8px;
}

.title {
    padding: 5px 0px 5px 0px;
    font-size: 18px;
    font-family: cursive;
}

.description {
    font-size: 0.8em;
}

.add-btn {
    width: 100%;
    border-radius: 10px;
    background-color: #606dab;
    margin-top: 10px;
}